# ==============================================================================
# 🧠 DYNAMIC CROSS-PLATFORM CONTEXT FILTER (TARGET-RELATIVE)
# ==============================================================================

# If the active machine is NOT Windows, completely ignore host configurations
{{ if ne .chezmoi.os "windows" }}
AppData/
Documents/
.wslconfig
{{ end }}

# If the active machine is NOT Linux, completely ignore specific shell profiles
{{ if ne .chezmoi.os "linux" }}
.zshrc
.bashrc
.zsh_plugins.txt
{{ end }}
